@font-face {
	font-family: "Jost";
	src: url("Jost-Light.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 300; 
}
@font-face {
	font-family: "Jost";
	src: url("Jost-Medium.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 400; 
}
@font-face {
	font-family: "Jost";
	src: url("Jost-Regular.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 500; 
}
@font-face {
	font-family: "Jost";
	src: url("Jost-SemiBold.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 600; 
}
@font-face {
	font-family: "Manrope";
	src: url("Manrope-Bold.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 700; 
}
