{% extends 'base-page.html' %}	
{% load static %}


{% block title %}Товар{% endblock title %}

{% block css%}
<link rel="stylesheet" type="text/css" href="{% static 'style/jquery-ui.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'style/catalog.css'%}">
{% endblock css %}


{% block container %}

	<main>
		<style type="text/css">
			:root{
				--color: #EEF2F8;
				--color_hover: #A8B3D4;
				--bacg_gradient: radial-gradient(72.79% 168.92% at 12.53% 79.42%, #8493BE 0%, #A8B3D4 100%);
				--hover_button: #8192C3;
				--hover_button_active: #7181AE;
			}
		</style>
	
		<section class="section__preview">
			<div class="box-content">
				<div class="breadcrumbs">
					<a href="#">Головна</a> 
					<svg width="11" height="2" viewBox="0 0 11 2" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 1H11" stroke="#979AA5" stroke-width="0.5"/>
					</svg>
					<a href="{% url 'shop' %}">Каталог</a> 
					<svg width="11" height="2" viewBox="0 0 11 2" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 1H11" stroke="#979AA5" stroke-width="0.5"/>
					</svg>
					{% comment %} <a href="{% url 'category_filter' product.category.id %}">Молдинги для панелей</a>  {% endcomment %}
	 				<span>{{ product.name }}</span>
				</div>
				<div class="section__preview-box">
					<div class="section__preview-images">
						<div class="section__preview-img">
							<div class="section__preview-img_item">
								<img src="{{product.image_url}}">
							</div>
						</div>
					</div>
					<div class="section__preview-info">
						<h1>{{ product.name }}</h1>
						<style>
							.harakt h2{
								color: white;
								margin: 0 0 8px 0;
							}
							.harakt {
								color: white;
								line-height: 1.5;
								margin: 0 0 10px 0;
							}
						</style>
						<div class="harakt">
							<h2>Характеристика:<h2>
							{{ product.note|safe }}
						</div>
						
						<div class="price">{{ product.price }}₴</div>
						<div class="link">
							<form  method="post" action="{% url 'add_item_to_cart' product.pk %}">
								{% csrf_token %}
								{% comment %} <input type="number" name="quantity" value="1" min="1" required id="id_quantity"/> {% endcomment %}
								<button name="quantity" class="buy cart__button" type="submit" value="1" id="id_quantity">
										Додати в кошик
									<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M5.795 6.25H23.125L21.445 14.64C21.2563 15.5902 20.4136 16.2686 19.445 16.25H8.875C7.86448 16.2586 7.00634 15.512 6.875 14.51L5.355 2.99C5.22462 1.9956 4.37791 1.25152 3.375 1.25H1.125M8.125 23.25C9.22957 23.25 10.125 22.3546 10.125 21.25C10.125 20.1454 9.22957 19.25 8.125 19.25C7.02043 19.25 6.125 20.1454 6.125 21.25C6.125 22.3546 7.02043 23.25 8.125 23.25ZM20.125 23.25C21.2296 23.25 22.125 22.3546 22.125 21.25C22.125 20.1454 21.2296 19.25 20.125 19.25C19.0204 19.25 18.125 20.1454 18.125 21.25C18.125 22.3546 19.0204 23.25 20.125 23.25Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
								</button>
							</form>
							{% comment %} <a href="{% url '' %}" class="buy cart__button">
								Додати в кошик
								<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M5.795 6.25H23.125L21.445 14.64C21.2563 15.5902 20.4136 16.2686 19.445 16.25H8.875C7.86448 16.2586 7.00634 15.512 6.875 14.51L5.355 2.99C5.22462 1.9956 4.37791 1.25152 3.375 1.25H1.125M8.125 23.25C9.22957 23.25 10.125 22.3546 10.125 21.25C10.125 20.1454 9.22957 19.25 8.125 19.25C7.02043 19.25 6.125 20.1454 6.125 21.25C6.125 22.3546 7.02043 23.25 8.125 23.25ZM20.125 23.25C21.2296 23.25 22.125 22.3546 22.125 21.25C22.125 20.1454 21.2296 19.25 20.125 19.25C19.0204 19.25 18.125 20.1454 18.125 21.25C18.125 22.3546 19.0204 23.25 20.125 23.25Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</a> {% endcomment %}
							<div class="count">
								<svg width="18" class="min" height="2" viewBox="0 0 18 2" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L17 1" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								<input type="text" name="count" id="count" value="1">
								<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M9 1V17M1 9L17 9" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section__preview mobile mobile__slider">
			<div class="box-content">
				<div class="section__preview-info">
					<a href="{% url 'shop' %}" class="back">
						<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M5 9L1 5L5 1" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						Повернутися назад
					</a>
					<h1>{{ product.name }}</h1>
				
					<div class="slider__mobile-card">
						<div class="slider">
							<div class="section__preview-img_item">
								<img src="{{product.image_url}}">
							</div>
						</div>
					</div>					
					<div class="price">{{ product.price }}₴</div>
					<div class="link" style="margin: 0 0 10px 0">
						<div class="count">
							<svg width="18" class="min" height="2" viewBox="0 0 18 2" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 1L17 1" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
							<input type="text" name="count" id="count" value="1">
							<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M9 1V17M1 9L17 9" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</div>
						<a href="#" class="buy cart__button">
							Додати в кошик
							<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M5.795 6.25H23.125L21.445 14.64C21.2563 15.5902 20.4136 16.2686 19.445 16.25H8.875C7.86448 16.2586 7.00634 15.512 6.875 14.51L5.355 2.99C5.22462 1.9956 4.37791 1.25152 3.375 1.25H1.125M8.125 23.25C9.22957 23.25 10.125 22.3546 10.125 21.25C10.125 20.1454 9.22957 19.25 8.125 19.25C7.02043 19.25 6.125 20.1454 6.125 21.25C6.125 22.3546 7.02043 23.25 8.125 23.25ZM20.125 23.25C21.2296 23.25 22.125 22.3546 22.125 21.25C22.125 20.1454 21.2296 19.25 20.125 19.25C19.0204 19.25 18.125 20.1454 18.125 21.25C18.125 22.3546 19.0204 23.25 20.125 23.25Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</a>
					</div>
					<div class="harakt">
						<h2>Характеристика:<h2>
						{{ product.note|safe }}
					</div>					
				</div>
			</div>
		</section>
		
		<section class="section__slider">
			<div class="box-content">
				<div class="title-block">
					<h2>Проекти</h2>
				</div>
				<div class="slider__block">
					<div class="slider__block-list">
						<div class="slider__block-item">
							<img src="{% static 'img/Визуализация интерьера 1.png' %}">
						</div>
						<div class="slider__block-item">
							<img src="{% static 'img/Визуализация интерьера 2.png' %}">
						</div>
						<div class="slider__block-item">
							<img src="{% static 'img/Визуализация интерьера 3.png' %}">
						</div>
						<div class="slider__block-item">
							<img src="{% static 'img/Визуализацasdsdия интерьера 3.png' %}">
						</div>
						<div class="slider__block-item">
							<img src="{% static 'img/Визуализация интерьера 1.png' %}">
						</div>
					</div>
					<div class="slider__block-control">
						<div class="sprite-prev">
	                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M16.667 10H3.33366" stroke="#3B3D41" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M8.33301 5L3.33301 10L8.33301 15" stroke="#3B3D41" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
	                    </div>
	                    <div class="controls-dots"></div>
	                    <div class="sprite-next">
	                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M3.33301 10H16.6663" stroke="#3B3D41" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M11.667 5L16.667 10L11.667 15" stroke="#3B3D41" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
	                    </div>
					</div>
				</div>
			</div>
		</section>
		
	</main>

{% endblock container%}