{% extends 'base-page.html' %}	
{% load static %}


{% block title %}Про бренд{% endblock title %}
{% block css%}<link rel="stylesheet" type="text/css" href="{% static 'style/company.css' %}">{% endblock css %}

{% block container %}




	<main>
		<section class="section__title-page images">
			<img class="img-fon" src="https://tvoimebli.com.ua/1341-thickbox_default/stinka-soho-4.jpg">
			<div class="box-content">
				<div class="breadcrumbs">
					<a href="{% url 'index' %}">Головна</a> 
					<svg width="11" height="2" viewBox="0 0 11 2" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 1H11" stroke="#979AA5" stroke-width="0.5"/>
					</svg>
	 				<span>Про бренд</span>
				</div>
				<h1>Про бренд</h1>
				<p>Ласкаво просимо до нашого меблевого сайту! Ми - ваш надійний партнер у створенні ідеального і комфортного життєвого простору. Наш бренд пропонує широкий вибір якісних меблів, що задовольнять ваші потреби та вподобання. Ми поєднуємо стиль, функціональність та доступні ціни, щоб забезпечити вам незабутнє досвід покупки.</p>
			</div>
		</section>		
		<section class="content-company">
			<div class="box-content">
				<h3 class="title__pages">Про нас</h3>
				<p class="text__pages">Ми - команда експертів у сфері меблів, які мають глибоке розуміння вашої потреби у створенні привітного і затишного домашнього середовища. Наша мета - забезпечити вам вищу якість, стиль та функціональність у кожному кроці. Ми пильно відбираємо найкращі матеріали та співпрацюємо з талановитими дизайнерами, щоб створити меблі, які виблискують своєю красою та забезпечують комфорт вашій сім'ї. </p>
				<span class="liner"></span>
				<p class="text__pages">Ми працюємо з великою відданістю і професіоналізмом, щоб кожен клієнт залишився задоволений своїм вибором. Приєднуйтесь до нашої спільноти і дайте нам можливість перетворити ваш будинок на місце, яке ви завжди мріяли мати.</p>
				<img class="img__pages" src="{% static 'img/shuttersasdasdstock_1615509904 2.png' %}">
			
			</div>
		</section>
		<section class="content-company">
			<div class="box-content">
				<h3 class="title__pages">Наша історія</h3>
				<p class="text__pages">Дозвольте розповісти вам нашу історію. Ми розпочали свій шлях як невеликий сімейний бізнес з великими мріями. За роки своєї діяльності ми зростали і розвивалися, набуваючи досвіду та вдосконалюючи наші навички. Наша пристрасть до меблів та бездоганний смак стали основою нашого успіху.</p>
				<span class="liner"></span>
				<p class="text__pages">Зараз ми гордо стоїмо перед вами як визнаний бренд, який пропонує найкращі рішення для вашого домашнього інтер'єру. Кожен день ми працюємо над створенням унікальних дизайнів, використовуючи новітні технології та тенденції в сфері меблів. Наша історія - це історія здійснення мрій наших клієнтів, які знаходять у нас надійного партнера на шляху до створення свого ідеального простору.</p>
				
				<img class="img__pages" src="{% static 'img/image 34.png' %}">
			</div>
		</section>
		<section class="section__slider">
			<div class="box-content">
				<h3 class="title__pages">Виробництво</h3>
				<p class="text__pages">Наше виробництво - це серце нашої діяльності. Ми маємо сучасні виробничі потужності, обладнані передовими технологіями та високоякісними матеріалами. Наша команда вправних ремісників і майстрів працює з великою увагою до деталей, забезпечуючи високу якість та бездоганну виконавчість у кожному виробі. Ми строго контролюємо весь процес виробництва - від вибору матеріалів до остаточного складання, щоб гарантувати, що кожна одиниця меблів відповідає нашим стандартам якості. Наше виробництво базується на інноваціях, креативності та неперевершеному майстерності, що дозволяє нам пропонувати унікальні та неповторні рішення для вашого інтер'єру. Ми пишаємось нашим виробництвом і прагнемо перевершити ваші очікування, надаючи вам меблі, які стануть справжньою окрасою вашого простору.</p>
				<div class="slider__block">
					<div class="slider__block-list">
						<div class="slider__block-item">
							<img src="{% static 'img/Rectangle 15.png' %}">
							<div class="slider__block-item_hover">Ми ретельно працюємо над кожною деталлю, щоб забезпечити максимальну комфортність наших меблів.</div>
						</div>
						<div class="slider__block-item">
							<img src="{% static 'img/Rectanadssdgle 15.png' %}">
							<div class="slider__block-item_hover">Наші меблі мають ергономічні рішення, що дозволяють вам розслабитися та відчувати зручність протягом усього дня.</div>
						</div>
						<div class="slider__block-item">
							<img src="{% static 'img/Rectangleaaaaaa 15.png' %}">
							<div class="slider__block-item_hover">Використання високоякісних та м'яких матеріалів додає додаткового комфорту до наших меблів.</div>
						</div>
						<div class="slider__block-item">
							<img src="{% static 'img/Rectangle 15.png' %}">
							<div class="slider__block-item_hover">Ми дбаємо про правильну підтримку тіла, створюючи меблі з урахуванням анатомічних особливостей.</div>
						</div>
						<div class="slider__block-item">
							<img src="{% static 'img/Rectanadssdgle 15.png' %}">
							<div class="slider__block-item_hover">Наші меблі мають налаштовувані елементи, які дозволяють вам знайти оптимальну позицію для вашого зручного відпочинку.</div>
						</div>
						<div class="slider__block-item">
							<img src="{% static 'img/Rectangleaaaaaa 15.png' %}">
							<div class="slider__block-item_hover">Комфортність наших меблів - це результат поєднання дизайну та функціональності, що робить ваше перебування вдома максимально приємним.</div>
						</div>
					</div>
					<div class="slider__block-control">
						<div class="sprite-prev">
	                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M16.667 10H3.33366" stroke="#3B3D41" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M8.33301 5L3.33301 10L8.33301 15" stroke="#3B3D41" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
	                    </div>
	                    <div class="controls-dots"></div>
	                    <div class="sprite-next">
	                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M3.33301 10H16.6663" stroke="#3B3D41" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M11.667 5L16.667 10L11.667 15" stroke="#3B3D41" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
	                    </div>
					</div>
				</div>
			</div>
		</section>
		<section class="content-company">
			<div class="box-content">
				<h3 class="title__pages">Технології</h3>
				<p class="text__pages">
					Ми завжди прагнемо використовувати передові технології, щоб створювати наші меблі. Від дизайну до виробництва, ми використовуємо комп'ютерне моделювання та програмне забезпечення, що дозволяють нам створювати точні і реалістичні візуалізації наших продуктів. Це допомагає нам розробляти ідеальні пропорції, оптимальні розташування деталей та функціональні рішення.
					
					Ми також використовуємо передові матеріали і оброблювальні технології для досягнення високої якості і довговічності наших меблів. Ми працюємо з екологічно чистими матеріалами, враховуючи енергоефективність та сталість у виробничому процесі.
					
					Більше того, ми слідкуємо за технологічними тенденціями і інноваціями в меблевій промисловості. Ми розробляємо нові рішення для зручності користування, використовуємо інтегровані системи освітлення, "розумні" функції та інші сучасні елементи, щоб забезпечити ваш комфорт та задоволення.
					
					Наш підхід до технологій допомагає нам створювати інноваційні, стильні та функціональні меблі, які відповідають потребам сучасного способу життя.</p>
				<img class="img__pages" src="{% static 'img/shutterstock_1adsd615509904 5.png' %}">
			</div>
		</section>
	</main>
	

{% endblock container %}		