{% extends 'base-page.html' %}	
{% load static %}


{% block title %}Корисна інформація{% endblock title %}
{% block css%}<link rel="stylesheet" type="text/css" href="{% static 'style/information.css' %}">{% endblock css %}

{% block container %}


	<main>
		<section class="section__title-page box-content">
			<div class="breadcrumbs">
				<a href="#">Головна</a> 
				<svg width="11" height="2" viewBox="0 0 11 2" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0 1H11" stroke="#979AA5" stroke-width="0.5"/>
				</svg>
 				<span>Корисна інформація</span>
			</div>
			<h1>Корисна інформація</h1>
		</section>
		<section class="information__sections">
			<div class="box-content">
				<div class="information__sections-list">
					<a href="#instuk">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M14 2H6C4.89543 2 4 2.89543 4 4V20C4 21.1046 4.89543 22 6 22H18C19.1046 22 20 21.1046 20 20V8L14 2Z" stroke="#F7941E" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M14 2V8H20" stroke="#F7941E" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M16 13H8" stroke="#F7941E" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M16 17H8" stroke="#F7941E" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M10 9H9H8" stroke="#F7941E" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						Инструкція
					</a>
					<a href="#catalog">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M12 2L2 7L12 12L22 7L12 2V2Z" stroke="#F7941E" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M2 17L12 22L22 17" stroke="#F7941E" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M2 12L12 17L22 12" stroke="#F7941E" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						Каталоги
					</a>
					<a href="#content">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M23 7L16 12L23 17V7V7Z" stroke="#F7941E" stroke-linecap="round" stroke-linejoin="round"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M1 7C1 5.89543 1.89543 5 3 5H14C15.1046 5 16 5.89543 16 7V17C16 18.1046 15.1046 19 14 19H3C1.89543 19 1 18.1046 1 17V7Z" stroke="#F7941E" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						Відео
					</a>
				</div>
				<p class="text__pages">На нашому меблевому сайті ви знайдете не лише красиві та якісні меблі, але й корисну інформацію, що допоможе вам зробити правильний вибір. Ми надаємо докладні описи кожного виробу, включаючи його розміри, матеріали та особливості. Крім того, у нас є корисні поради щодо догляду за меблями, їх утримання та облаштування приміщення. Ми також ділимося інтер'єрними ідеями та тенденціями, щоб надихнути вас на створення чудового дизайну у вашому просторі. Наша мета - забезпечити вам не лише зручні та стильні меблі, але й інформацію, яка допоможе вам зробити ваш будинок або офіс ще комфортнішим та привабливішим.</p>
			</div>
		</section>
		<section class="information__section-block" id="instuk">
			<div class="box-content">
				<h3 class="title">Инструкії</h3>
				<span class="subtitle">Глибша інформацію</span>
				<div class="instructions__list">
					<a href="#" class="instructions__list-item">
						<div class="box">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M19 13V17C19 17.5304 18.7893 18.0391 18.4142 18.4142C18.0391 18.7893 17.5304 19 17 19H3C2.46957 19 1.96086 18.7893 1.58579 18.4142C1.21071 18.0391 1 17.5304 1 17L1 13M5 8L10 13M10 13L15 8M10 13L10 1" stroke="#8B9BCB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
							<span>Компактна книжкова полиця: Інструкція по складанню </span>	
						</div>
						<div class="size">22.5 кб</div>
					</a>
					<a href="#" class="instructions__list-item">
						<div class="box">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M19 13V17C19 17.5304 18.7893 18.0391 18.4142 18.4142C18.0391 18.7893 17.5304 19 17 19H3C2.46957 19 1.96086 18.7893 1.58579 18.4142C1.21071 18.0391 1 17.5304 1 17L1 13M5 8L10 13M10 13L15 8M10 13L10 1" stroke="#8B9BCB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
							<span>Столик для кави 'Модерн': Інструкція зі складання </span>	
						</div>
						<div class="size">22.5 кб</div>
					</a>
					<a href="#" class="instructions__list-item">
						<div class="box">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M19 13V17C19 17.5304 18.7893 18.0391 18.4142 18.4142C18.0391 18.7893 17.5304 19 17 19H3C2.46957 19 1.96086 18.7893 1.58579 18.4142C1.21071 18.0391 1 17.5304 1 17L1 13M5 8L10 13M10 13L15 8M10 13L10 1" stroke="#8B9BCB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
							<span>Настінний годинник 'Елегант': Інструкція з монтажу </span>	
						</div>
						<div class="size">22.5 кб</div>
					</a>
					<a href="#" class="instructions__list-item">
						<div class="box">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M19 13V17C19 17.5304 18.7893 18.0391 18.4142 18.4142C18.0391 18.7893 17.5304 19 17 19H3C2.46957 19 1.96086 18.7893 1.58579 18.4142C1.21071 18.0391 1 17.5304 1 17L1 13M5 8L10 13M10 13L15 8M10 13L10 1" stroke="#8B9BCB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
							<span>Ліжко з вбудованим зберіганням: Інструкція по складанню </span>	
						</div>
						<div class="size">22.5 кб</div>
					</a>
					<a href="#" class="instructions__list-item">
						<div class="box">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M19 13V17C19 17.5304 18.7893 18.0391 18.4142 18.4142C18.0391 18.7893 17.5304 19 17 19H3C2.46957 19 1.96086 18.7893 1.58579 18.4142C1.21071 18.0391 1 17.5304 1 17L1 13M5 8L10 13M10 13L15 8M10 13L10 1" stroke="#8B9BCB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
							<span>Стілець 'Комфорт': Інструкція зі складання </span>	
						</div>
						<div class="size">22.5 кб</div>
					</a>
					<a href="#" class="instructions__list-item">
						<div class="box">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M19 13V17C19 17.5304 18.7893 18.0391 18.4142 18.4142C18.0391 18.7893 17.5304 19 17 19H3C2.46957 19 1.96086 18.7893 1.58579 18.4142C1.21071 18.0391 1 17.5304 1 17L1 13M5 8L10 13M10 13L15 8M10 13L10 1" stroke="#8B9BCB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
							<span>Дзеркало з підсвічуванням: Інструкція з монтажу </span>	
						</div>
						<div class="size">22.5 кб</div>
					</a>
					<a href="#" class="instructions__list-item">
						<div class="box">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M19 13V17C19 17.5304 18.7893 18.0391 18.4142 18.4142C18.0391 18.7893 17.5304 19 17 19H3C2.46957 19 1.96086 18.7893 1.58579 18.4142C1.21071 18.0391 1 17.5304 1 17L1 13M5 8L10 13M10 13L15 8M10 13L10 1" stroke="#8B9BCB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
							<span>Тумба під телевізор 'Стильна': Інструкція по складанню </span>	
						</div>
						<div class="size">22.5 кб</div>
					</a>
					<a href="#" class="instructions__list-item">
						<div class="box">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M19 13V17C19 17.5304 18.7893 18.0391 18.4142 18.4142C18.0391 18.7893 17.5304 19 17 19H3C2.46957 19 1.96086 18.7893 1.58579 18.4142C1.21071 18.0391 1 17.5304 1 17L1 13M5 8L10 13M10 13L15 8M10 13L10 1" stroke="#8B9BCB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
							<span>Вітальня 'Мінімалістична': Інструкція зі складання </span>	
						</div>
						<div class="size">22.5 кб</div>
					</a>
					<a href="#" class="instructions__list-item">
						<div class="box">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M19 13V17C19 17.5304 18.7893 18.0391 18.4142 18.4142C18.0391 18.7893 17.5304 19 17 19H3C2.46957 19 1.96086 18.7893 1.58579 18.4142C1.21071 18.0391 1 17.5304 1 17L1 13M5 8L10 13M10 13L15 8M10 13L10 1" stroke="#8B9BCB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
							<span>Диван з розкладним механізмом: Інструкція по збиранню </span>	
						</div>
						<div class="size">22.5 кб</div>
					</a>
					
				</div>
				
			</div>
		</section>
		<section class="information__section-block" id="catalog">
			<div class="box-content">
				<h3 class="title">Каталог</h3>
				<span class="subtitle">Всі каталоги нашого виробництва</span>
				<div class="instructions__list">
					<a href="#" class="instructions__list-item">
						<div class="box">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M19 13V17C19 17.5304 18.7893 18.0391 18.4142 18.4142C18.0391 18.7893 17.5304 19 17 19H3C2.46957 19 1.96086 18.7893 1.58579 18.4142C1.21071 18.0391 1 17.5304 1 17L1 13M5 8L10 13M10 13L15 8M10 13L10 1" stroke="#8B9BCB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
							<span>Каталог меблів</span>	
						</div>
						<div class="size">22.5 кб</div>
					</a>
					<a href="#" class="instructions__list-item">
						<div class="box">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M19 13V17C19 17.5304 18.7893 18.0391 18.4142 18.4142C18.0391 18.7893 17.5304 19 17 19H3C2.46957 19 1.96086 18.7893 1.58579 18.4142C1.21071 18.0391 1 17.5304 1 17L1 13M5 8L10 13M10 13L15 8M10 13L10 1" stroke="#8B9BCB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
							<span>Меблі для дому</span>	
						</div>
						<div class="size">22.5 кб</div>
					</a>
					<a href="#" class="instructions__list-item">
						<div class="box">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M19 13V17C19 17.5304 18.7893 18.0391 18.4142 18.4142C18.0391 18.7893 17.5304 19 17 19H3C2.46957 19 1.96086 18.7893 1.58579 18.4142C1.21071 18.0391 1 17.5304 1 17L1 13M5 8L10 13M10 13L15 8M10 13L10 1" stroke="#8B9BCB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
							<span>Меблі для спальні</span>	
						</div>
						<div class="size">22.5 кб</div>
					</a>
					<a href="#" class="instructions__list-item">
						<div class="box">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M19 13V17C19 17.5304 18.7893 18.0391 18.4142 18.4142C18.0391 18.7893 17.5304 19 17 19H3C2.46957 19 1.96086 18.7893 1.58579 18.4142C1.21071 18.0391 1 17.5304 1 17L1 13M5 8L10 13M10 13L15 8M10 13L10 1" stroke="#8B9BCB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
							<span>Меблі для вітальні</span>	
						</div>
						<div class="size">22.5 кб</div>
					</a>
					<a href="#" class="instructions__list-item">
						<div class="box">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M19 13V17C19 17.5304 18.7893 18.0391 18.4142 18.4142C18.0391 18.7893 17.5304 19 17 19H3C2.46957 19 1.96086 18.7893 1.58579 18.4142C1.21071 18.0391 1 17.5304 1 17L1 13M5 8L10 13M10 13L15 8M10 13L10 1" stroke="#8B9BCB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
							<span>Меблі для кухні</span>	
						</div>
						<div class="size">22.5 кб</div>
					</a>
					<a href="#" class="instructions__list-item">
						<div class="box">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M19 13V17C19 17.5304 18.7893 18.0391 18.4142 18.4142C18.0391 18.7893 17.5304 19 17 19H3C2.46957 19 1.96086 18.7893 1.58579 18.4142C1.21071 18.0391 1 17.5304 1 17L1 13M5 8L10 13M10 13L15 8M10 13L10 1" stroke="#8B9BCB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
							<span>Офісні меблі</span>	
						</div>
						<div class="size">22.5 кб</div>
					</a>
				</div>
			</div>
		</section>
		<section class="information__section-block" id="content">
			<div class="box-content">
				<h3 class="title">Відео</h3>
				<span class="subtitle">Відео інструкції</span>
				<div class="video__list">
					<a href='#'>	
						<img src="{% static 'img/1747x1152_21_5e3281f67d5a6c36d392c599f4dec4b8@aaa1920x1152_0xac120003_20802824161658997336 3.png' %}">
						<span>Інструкції по збиранню меблів</span>
					</a>
					<a href="#">
						<img src="{% static 'img/1747x1152_21_5e3281f67d5a6c36d392c599f4dec4b8@aaa1920x1152_0xac120003_20802824161658997336 3.png' %}">
						<span>Посібники зі складання меблів</span>
					</a>
					<a href="#">
						<img src="{% static 'img/1747x1152_21_5e3281f67d5a6c36d392c599f4dec4b8@aaa1920x1152_0xac120003_20802824161658997336 3.png' %}">
						<span>Керівництва з монтажу меблів</span>
					</a>
					<a href="#">
						<img src="{% static 'img/1747x1152_21_5e3281f67d5a6c36d392c599f4dec4b8@aaa1920x1152_0xac120003_20802824161658997336 3.png' %}">
						<span>Детальні інструкції для складання</span>
					</a>
					<a href="#">
						<img src="{% static 'img/1747x1152_21_5e3281f67d5a6c36d392c599f4dec4b8@aaa1920x1152_0xac120003_20802824161658997336 3.png' %}">
						<span>Прості кроки зі складання меблів</span>
					</a>
					<a href="#">
						<img src="{% static 'img/1747x1152_21_5e3281f67d5a6c36d392c599f4dec4b8@aaa1920x1152_0xac120003_20802824161658997336 3.png' %}">
						<span>Навчальні матеріали з монтажу меблів</span>
					</a>
				</div>

			</div>
		</section>
		
	</main>
	{% endblock container %}	